img{
    border-radius: 20%;
}

.principal{
    margin-top: 3%;
}


.init{

   margin-top: 45%;
}


.ini{

    margin-top: 40%;
    
}


@media screen and (max-width: 768px){
 
    .al{
        height: 100%;
        width: 100%;
    }
  
    .imgg{
        width:95px;
        height:95px;
    }
    .init{
      padding-bottom: -5em;
    }

}